@font-face {
  font-family: Script;
  src: url(dancingscript/DancingScript-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Muli;
  src: url(muli/Muli-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Playfair;
  src: url(playfair/PlayfairDisplay-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: PlayfairItalic;
  src: url(playfair/PlayfairDisplay-Italic.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: PlayfairBold;
  src: url(playfair/PlayfairDisplay-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}
